@font-face { font-family: 'headerfont';
             src: url('../fonts/VistaSlabLight.woff2') format('woff2'),
				  url('../fonts/VistaSlabLight.woff') format('woff')		
}

@font-face { font-family: 'textfont';
             src: url('../fonts/VistaSansLight.woff2') format('woff2'),
				  url('../fonts/VistaSansLight.woff') format('woff')		
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'headerfont', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

::selection{
  background: rgb(0,123,255,0.3);
}

.wrapper{
  max-width: 600px;
  max-height: 2000px;
  padding: 0 20px;
}

.wrapper .header-tab{
  padding-bottom: 60px;
  border-bottom: 1px solid grey; 
}

.wrapper .parent-tab,
.wrapper .child-tab{
  border-bottom: 1px solid grey;
}

.wrapper .header-tab label,
.wrapper .parent-tab label,
.wrapper .child-tab label{
  background: #FFFFFF;
  padding: 20px 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}

.wrapper .header-tab label:hover,
.wrapper .parent-tab label:hover{
  background: #FFFFFF;
}

.wrapper .header-tab span{
  font-size: 40px;
  font-weight: 400; 
}

.wrapper label span{
  margin-right: -10px;
  color: #072A85;
  font-size: 17px;
  font-weight: 400;
}

.wrapper .child-tab label span{
  line-height: 150%;
  margin-right: -10px;
  color: #505050;
  font-size: 15px;
  font-weight: 300;
}

.parent-tab label .icon{
  height: 25px;
  width: 25px;
  color: #007bff;
  background: url('../Akkordeonaufgabe_1.0/svg/secondary-plus.svg');
}

.wrapper .child-tab label .icon{
  height: 25px;
  width: 25px;
}

.wrapper .header .content,
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content{
  max-height: 0px;
  overflow: scroll;
  background: #fff;
  transition: all 0.4s ease;
}

.header-tab input:checked ~ .content,
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content{
  max-height: 100vh;
}

.header-tab.content p,h1,h2{
  padding: 15px 20px;
  font-family: 'headerfont', sans-serif;
  font-size: 30px;
}

.parent-tab .content p,h1,h2,h3,
.child-tab .sub-content p,h1,h2,h3{
  padding-bottom: 15px;
  font-family: 'textfont', sans-serif;
  font-size: 13px;
  line-height: 150%;
  color: #072A85;
}

.box{
  background-color: #CDCACA;
  color: #072A85;
}

.fi{
  padding: 15px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 150%;
}

input[type="radio"],
input[type="checkbox"]{
  display: none;
}
